/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .cant-see-me {
 	display: none;
 }



body {
	padding-top: 1%
	padding-bottom: 1%;
	margin: 0px;
	background-image: url(https://www.aclu.org/sites/default/files/styles/blog_index_wide_655x336/public/field_image/web15-siteimages-blog-main-2400x960-rel1.jpg?itok=ID1u4SNZ);

}

h1, h3 {
	color: #47476b;
}